body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(46, 49, 46);
    height: 100vh;
}

h2{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 20%;
}

.box{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(41, 55, 41);
    border-radius: 05px;
}

#box-out-top{
    background-color: red;
}

#box-1{
    background-color: green;
}

#box-2{
    background-color: blue;
}

#box-3{
    background-color: yellow;
}

#box-4{
    background-color: pink;
}

#box-out-bttom{
    background-color: blueviolet;
    position: absolute;
    right: 5px;
}

.inLine{
    display: flex;
    padding: 12px;
    gap: 12px;
    justify-content: center;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 60%;
}